{% extends "market/base.html" %}

{% block content %}
<h1>Contact Us</h1>
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

</div>
<div style="margin: 5px; padding: 5px;">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14721.99517846273!2d75.8770644!3d22.7096947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fdad94b029db%3A0x3ebd8032d6c5f6f6!2sKredpartner!5e0!3m2!1sen!2sus!4v1680608396354!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </div>
    
</div>

{% endblock %}
