[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/kredtrade
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --log-level debug --workers 3 --bind unix:/run/gunicorn.sock kredtrade.wsgi:application

[Install]
WantedBy=multi-user.target
