{% extends "market/base.html" %}

{% block title %}
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">{{ category.category_name }} Details</h1>
{% endblock title %}
{% block content %}
    <div class="container mx-auto p-6">
    <!-- Title -->
    <h1 class="text-4xl font-bold text-center mb-8">
        {{ category.category_name }}
    </h1>

    <!-- Overview -->
    <div class="overview p-6 mb-8">
      <h2 class="text-2xl font-semibold mb-4 "> Description</h2>
      <p class="text-lg mb-4">
        {{category.category_desc}}
      </p>
    </div>

    <!-- Category Grid -->
    <h3 style="padding: 5px; margin: 10px;"><strong>Users in this Category</strong></h3>
        <ul>
            {% for user in users %}
                <li><a href="">{{ user.username }} -</a> 
                    <a href="">{{ user.profile.company }}</a>
                </li> <!-- Customize as needed -->
            {% empty %}
                <li>No users found for this category.</li>
            {% endfor %}
        </ul>
    <h3 style="padding: 5px; margin: 10px;"><strong>Listed Items</strong></h3>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6" >
        
        {% for item in items %}
        <li>
            <a href="{% url 'item-detail' item.id %}">
                {{ item.item_name }} :-
            </a>  
            <a href="{% url 'user-company' user.username %}">
                {{ item.created_by }}
            </a>
        </li>
        {% empty %}
            <p>No items found for this category.</p>
        {% endfor %}
      
    </div>
    <h3 style="padding: 5px; margin: 10px;"><strong>Posted Business Opportunities</strong></h3>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6" >
        
        {% for post in posts %}
        <li>
            <a href="{% url 'post-detail' post.id %}">
                {{ post.title }} :-
            </a>  
            <a href="{% url 'user-company' user.username %}">
                {{ post.author }}
            </a>
        </li>
        {% empty %}
            <p>No items found for this category.</p>
        {% endfor %}
      
    </div>
    
  </div>
        
{% endblock content %}
