{% extends "market/base.html" %}
{% load tailwind_filters %}
{% block title %}
        
    
    
    
{% endblock title %}
{% block content %}
<a href="{% url 'user-company' view.kwargs.username %}">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">{{company_name}}'s Store</h1>
    <h2 class="mb-12 text-2xl text-center">
        Managed by {{view.kwargs.username}}
    </h2>
</a>

<div class="flex" >
    

    
        
        <!-- Main Content Scrollable -->
        <div class="container mx-auto my-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
                {% for item in items %}
                <div class="centered-img-container product-card rounded overflow-hidden mx-auto" >
                    <a href="{% url 'item-detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" alt="item-image" 
                            class="flex-none w-40 h-40 rounded-lg" style="border-color: rgb(41, 26, 7); border-width: 2px;">
                        </div>
                        <div class="p-6 bh-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.item_name }}</h2>
                            <p class="text-l">HSN:  {{item.item_category.hsn_6_digit}} </p>
                            <p class="text-l">Listed By:   </p>
                            <strong>{{item.created_by.profile.company}}</strong>
                        </div>
                    </a>
                </div>
                
                {% empty %}
                <p>
                    {{company_name}} hasn't listed any products yet. 
                </p>
                {% endfor %} 

            
        </div>
        
        
<div  style="align-items: center; text-align: center;">
    <button style="padding: 5px; margin: 5px;  height: auto; width: auto; border-width: 2px; background-color: aqua; border-radius: 5px;">
        <a href="{% url 'market-home' %}">
            Go Back
        </a>
    </button>
    <button style="padding: 5px; margin: 5px;  height: auto; width: auto; border-width: 2px; background-color: aqua; border-radius: 5px;">
        <a href="{% url 'user-company' view.kwargs.username %}">
            Show Company Profile
        </a>
    </button>
    
</div>
        
    </div>
    
    
    
{% endblock content %}